@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* My css classes */
.margin-t-40 {
    margin-top: 20px;
    padding: 0 10px;
}
/* css var */
:root{
    --button-color: #bb2d3b;
    --second-color: #d17a83;
    --button-color-hover: #d96f79;
    --button-padding: 4px ;
}
/* End */
.row>* {
    padding: 0;
    margin: 0;
}

body {
    font-style: oblique;
}

.back-icon svg {
    width: 50px;
    height: 30px;
    color: black;
}

.background-img img {
    min-width: 1024px;
    min-height: 1000px;
    max-width: 1024px;
    max-height: 1000px;
    object-fit: cover;
    position: fixed;
}

.header-title {
    text-align: center;
    margin: 5px 0 15px 0;
}

.category-card {
    margin: 6px 0;
}

.category-name {
    text-align: center;
    vertical-align: middle;
    height: 220px;
    line-height: 220px;
}

.list-card-image img {
    width: 100%;
    max-height: 220px;
    min-height: 220px;
    border-radius: 20px
}

.price {
    color: var(--button-color);
    font-weight: bold;
    line-height: 30px;
}

.mini-price {
    color: var(--button-color);
}

.add-button {
    background-color: transparent;
    color: black;
    border: 2px solid var(--second-color);
    padding: 4px 25px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.add-button:hover {
    animation: normal;
    background-color: var(--button-color-hover);
    border: 2px solid transparent;
    color: white;
}

.frontend-lang {
    z-index: 99;
    top: 4px;
    left: 4px;
}

.frontend-lang .dropdown button {
    background-color: transparent;
}

.dropdown-menu .lang-items{
    top: 0 !important;
}
.lang-items {
    padding: 10px 20px;
}

.navi-item img {
    width: 25px;
    height: 25px;
}

.product-img img {
    min-height: 400px;
    object-fit: contain;
    width: 100%;
    max-height: 400px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.product-card {
    background: aliceblue;
    padding: 10px;
    box-shadow: -1px 1px 1px #acb3b9;
    border-radius: 4px;
}

.ava-qty {
    background: #a3a5ff;
    padding: 4px;
    border-radius: 4px;
    font-weight: 400;
}

.check-box {
    padding: 10px 0;
}

.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;

}

.order-button {
    width: inherit;
    position: fixed;
    bottom: 10px;
}
.order-button button{
    width: inherit;
    padding: 4px;
    background-color: var(--button-color);
    border: 0;
    border-radius: 4px;
    color: white;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.checkout{
    position: fixed;
    bottom: 10px;
    width: inherit;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.button-card{
    position: -webkit-sticky;
    position: sticky;
    z-index: 3000;
    bottom: 0;
    padding: 8px;
    min-height: 64px;
}
.button-card button{
    font-size: 17px;
}
.checkout a {
    color: white;
}
.toggle-button {
    background-color: inherit;
    padding: 5px;
    transition: 0.5s;
    border: 1px solid black;
}
.toggle-button:hover{
    background-color: var(--button-color);
    color: white;
    border: 1px solid #27a6ad;
}
.header{
    margin-bottom: 20px;
    text-align: center;
}
.checkbox-button{
    border: 1px solid black;
    margin: 0 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
input[type="radio"]:checked + label {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.proceed-button{
    background-color: var(--button-color);
    border-color: #27a6ad;
    color: white;
}
.order-button button:hover {
    background-color: #3b6466;
}

.Additional-Select .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Additional-Select .value-button:hover {
    cursor: pointer;
}
.Additional-Select .mini-price {
    line-height: 40px;
}
.Additional-Select #decrease {
    margin-top: -4px;
    height: 40px;
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

.Additional-Select #increase {
    margin-top: -4px;
    height: 40px;
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

.Additional-Select #input-wrap {
    margin: 0px;
    padding: 0px;
}

.Additional-Select input {
    height: 30px;
    width: 50px;
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

.Additional-Select input[type=number]::-webkit-inner-spin-button,
.Additional-Select input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cart-items-count{
    position: absolute;
    padding: 2px 8px 2px 8px;
    top: 16px;
    border-radius: 3px;
    left: 50px;
    color: white;
    font-weight: bold;
    background-color: #7c1717;
}
.cart-items-price{
    position: absolute;
    padding: 2px 8px 2px 8px;
    top: 20px;
    right: 20px;
    color: white;
    font-size: small;
}
input[type="radio"]:checked + label{
    background-color: #dc3545;
    border: 1px solid #dc3545;
}
.search-result{
    position: absolute;
    width: 100%;
    margin-top: 4px;
    background-color: #f3f3f3;
    z-index: 99;
}
.search-result ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.search-result ul li{
    border-bottom: 1px solid #e1d8d8;
    padding: 4px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}
.search-result ul li:hover{
    background-color: #F7F9F9;

}
.search-result ul li a{
    color: black;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}
.search-result ul li:hover a{
    color: #0d6efd;
}
.search-result ul li img{
    max-width:  50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
    min-width:  50px !important;
}

.dropdown-toggle::after{
    color: black;
}
.item-search-name{
    display: block;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
#dropdownMenuButton1{
    border: 0;
    position: relative;
}
.second-navbar{
    position: fixed;
    background-color: white;
    padding: 4px;
    border-radius: 0 0px 4px 4px;
}
.cart-icon{
    background-color: transparent;
    top: 0px;
    border: 0;
    position: relative;
    font-size: 22;
    border-right: 1px solid gray;
}
.cart-icon a div{
 display: inline-block;
 margin: auto;
 padding: 3px;
}
/* hide aside in big screen */
.phone-aside{
    display: none;
}
