.row>*{
    padding: 0;
    margin: 0;
}
body{
    font-style: oblique;
}
.back-icon svg{
    width: 50px;
    height: 30px;
    color: black;
}
.background-img img{
  width:  1024px;
  height: 1000px;
  object-fit: cover;
  position: fixed;
}
.header-title{
    text-align: center;
    text-decoration: underline;
    margin: 20px 0;
}
.category-card{
    margin: 6px 0;
}
.category-name{
text-align: center;
vertical-align: middle;
line-height: 300px;
}
.list-card-image img{
    max-height: 220px;
}
